@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --siteBackgroundColor: #F3F3F3;
    --ioniconsWidthAndHeight: 36px;
    --messageSectionHeight: 40px;
    --messageUserAndContentColor: #000000;
    --messageHourColor: #AAAAAA;
    --headerAndFooterHeight: 80px;
}

* {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    word-break: break-all;
}

body {
    background-color: var(--siteBackgroundColor);
    height: 100vh;    
}

ion-icon {
    width: var(--ioniconsWidthAndHeight);
    height: var(--ioniconsWidthAndHeight);
}

header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 7px #000000af;
    width: 100%;
    height: var(--headerAndFooterHeight);
    padding: 10px 20px;
    background-color: #FFFFFF;
}


.transparent-back {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    width: 100vh !important;
    height: 100vh !important;
    background-color: rgba(0, 0, 0, 0.6);
}

.participants-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 6;
    width: 70%;
    height: 100vh !important;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 7px #000000af;
    overflow-y: scroll;
    overflow-x: hidden;
}

.participants-menu > p {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    margin: 15px 25px;
}

.participants-menu ion-icon {
    width: 20px !important;
    height: 36px !important;
    margin-right: 10px;
}

.menu-option {
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 5px;
    position: relative;
}

.menu-option p {
    font-size: 16px;
    font-weight: 400;
    width: 75%;
    
}

.menu-option .check {
    position: absolute;
    top: 0;
    right: 0;
    color: #28BB25;
}

main {
    width: 100%;
    top: var(--headerAndFooterHeight);
    bottom: var(--headerAndFooterHeight);
    left: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--siteBackgroundColor);
}

.message {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 97%;
    margin-bottom: 5px;
    padding: 5px;
    height: auto;
}

.status {
    background-color: #DCDCDC;
}

.public {
    background-color: #FFFFFF;
}

.reserved {
    background-color: #FFDEDE;
}

.messageHour {
    color: var(--messageHourColor);
}

.messageUser {
    color: var(--messageUserAndContentColor);
    font-weight: 900;    
}

.messageContent {
    color: var(--messageUserAndContentColor);
    font-weight: 400;    
    width: 100%;
    word-break: break-all;
    margin: 10px auto !important;
}

.message p {
    margin: 0px 3px;
}

footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 7px #000000af;
    width: 100%;
    padding: 0px 10px;
    height: var(--headerAndFooterHeight);
    background-color: #FFFFFF;

}

footer input {
    height: 28px;
    width: 215px;
    border: 0px; 
    background-color: #FFFFFF
}

footer ion-icon:hover {
    cursor: pointer;
}

.hideElement {
    display: none !important;
}

/* MODAL */
section.modal {
    position: fixed;
    z-index: 4;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
}

section.modal .content {
    background: #FFF;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.loader {
    width: 80px;
    animation: spinner 1s infinite linear;
}

/*loading screen rotation*/
@keyframes spinner{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
